* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

body {
  /* font-family: 'Kodchasan', sans-serif; */
  /* overflow: hidden; */
}

.desktop {
  font-family: sans-serif;
  /* background-image: linear-gradient(to top, #93daf1 0%, #daf6ff 100%); */
  /* background-image: linear-gradient(to top, #a8edea 0%, #a8edea 30%, #fed6e3 100%); */
  /* background-image: linear-gradient(to top, #d9afd9 78%, #97d9e1 100% ); */
  background-image: linear-gradient(to top, #97d9e1 0%, #d9afd9 20%, #e6c63b 40%, #d9afd9 60%, #92cd90 100% );
  padding: 1%;
}

.mobile {
  background-image: linear-gradient(to bottom, #7bcfc4 0%, #74c487 50%, #9face6 100%);
  font-family: sans-serif;
  /* background-image: linear-gradient(to top, #93daf1 0%, #daf6ff 100%); */
  /* background-image: linear-gradient(to top, #a8edea 0%, #a8edea 30%, #fed6e3 100%); */
  /* background-image: linear-gradient(to top, #d9afd9 78%, #97d9e1 100% ); */
  padding: 1%;
}

.intro-2 {
  height: 100vh;
}

.intro {
  height: 100vh;
  width: 100vw;
}


.paper-plane {
  height: 8%;
  position: fixed;
  bottom: 1rem;
}

.st14{
  fill:#FACC00;
}

.st15{fill:#FAF200;}
.st16{fill:#D9FA00;}

.indicator {
  /* text-shadow: 1px 1px 1px white; */
  /* color: rgb(255, 255, 255); */
  font-weight: 700;
  z-index: 5;
  font-size: 16px;
  text-align: center;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

#arrow {
  font-size: 18px;
  font-weight: 700;
}

.indicator span {
  display: block;
}

.indicator span:nth-child(2) {
  -webkit-animation: arrowMove 900ms infinite alternate;
          animation: arrowMove 900ms infinite alternate;
}

.cloud-text {
  color: black;
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 7;
  /* border: 1px solid rgb(191, 191, 191); */
  height: 80%;
  width: 65%;
  line-height: 20px;
  text-transform: uppercase;
}

.cloud-text h2 {
  margin-bottom: 64px;
  color: rgba(106, 106, 106, 0.64);
  width: 40%;
  font-size: 40px;
  font-weight: 800;
}

.experience .cloud-text h2 {
  margin-bottom: 25px;
}

.cloud-text .content {
  padding-top: 13px;
}

.cloud-text span {
  font-size: 13px;
}

.projects-grid-2 {
  display: grid;
  row-gap: 32px;
  grid-template-rows: repeat(4, 1fr);
  padding-top: 15px;
}

.projects-grid {
  display: grid;
  row-gap: 32px;
  grid-template-rows: repeat(4, 1fr);
  padding-top: 15px;
}

.exp-grid-3 {
  display: grid;
  row-gap: 5px;
  grid-template-rows: repeat(6, 1fr);
  padding-top: 15px;
}

.project-row {
  display: grid;
  grid-template-columns: 64px repeat(2, 1fr);
  column-gap: 10px;
  height: 70px;
}

.projects-grid a:visited,
.projects-grid a:active,
.projects-grid a:link {
  text-decoration: none;
  color: black;
  /* cursor: pointer; */
}

.projects-grid a {
  pointer-events: none;
}

.projects-grid .project-1:hover {
  color: orange;
}
.projects-grid .project-2:hover {
  color: rgb(156, 98, 155);
}
.projects-grid .project-3:hover {
  color: rgb(147, 54, 54);
}
.projects-grid .project-4:hover {
  color: rgb(47, 255, 0);
}


.project-row .icon {
  font-size: 45px;
  display: flex;
  justify-content: flex-start;
}

.project-1 .icon {
  grid-area: 1 / 1 / 2 / 2;
}
.project-2 .icon {
  grid-area: 2 / 1 / 3 / 2;
}
.project-3 .icon {
  grid-area: 3 / 1 / 4 / 2;
}
.project-4 .icon {
  grid-area: 4 / 1 / 5 / 2;
  padding-left: 10px;
}

.project-1 .icon-description {
  grid-area: 1 / 2 / 2 / 4;
}

.project-2 .icon-description {
  grid-area: 2 / 2 / 3 / 4;
}

.project-3 .icon-description {
  grid-area: 3 / 2 / 4 / 4;
}

.project-4 .icon-description {
  grid-area: 4 / 2 / 5 / 4;
}

.projects-grid-2 .icon {
  margin-right: 10px;
}


.ed-row {
  display: grid;
  grid-template-columns: 64px repeat(2, 1fr);
  column-gap: 12px;
  height: 70px;
}

.university .icon {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  font-size: 56px;
}

.university .icon-description {
  grid-area: 1 / 2 / 2 / 4;
}

.aA .icon {
  grid-area: 2 / 1 / 3 / 2;
  font-size: 42px;
}

.aA .icon-description {
  grid-area: 2 / 2 / 3 / 4;
}

.tech-stack .icon {
  grid-area: 3 / 1 / 4 / 2;
  font-size: 45px;
}

.tech-stack .icon-description {
  grid-area: 3 / 2 / 4 / 4;
}

.certificate .icon {
  grid-area: 4 / 1 / 5 /2;
  font-size: 45px;
  padding-left: 5px;
}

.certificate .icon-description {
  grid-area: 4 / 2 / 5 / 4;
}

.exp-grid-row {
  display: grid;
  grid-template-columns: 64px repeat(2, 1fr);
  column-gap: 10px;
}

.exp-grid-row .icon {
  font-size: 42px;
}

.scorpio .icon {
  grid-area: 1 / 1 / 2 / 2;
}

.scorpio .icon-description {
  grid-area: 1 / 2 / 2 / 4;
}
.mines .icon {
  grid-area: 2 / 1 / 3 / 2;
}

.mines .icon-description {
  grid-area: 2 / 2 / 3 / 4;
}
.ivanhoe .icon {
  grid-area: 3 / 1 / 4 / 2;
}

.ivanhoe .icon-description {
  grid-area: 3 / 2 / 4 / 4;
}
.bobcat .icon {
  grid-area: 4 / 1 / 5 / 2;
}

.bobcat .icon-description {
  grid-area: 4 / 2 / 5 / 4;
}
.hanwha .icon {
  grid-area: 5 / 1 / 6 / 2;
}

.hanwha .icon-description {
  grid-area: 5 / 2 / 6 / 4;
}
.samsung .icon {
  grid-area: 6 / 1 / 7 / 2;
}

.samsung .icon-description {
  grid-area: 6 / 2 / 7 / 4;
}

.projects-grid-2 h4 {
  padding-bottom: 5px;
}

.projects-grid .grid-box {
  cursor: default;
}

.grid-box .project-title {
  font-size: 18px;
  font-weight: 500;
}

.grid-box .project-desc {
  font-size: 14px;
  padding-top: 10px;
}



.social {
  /* display: flex; */
  color: white;
  display: flex;
  /* justify-content: space-between; */
  position: fixed;
  z-index: 5;
  width: 100%;
}

.social ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 42px;
  padding: 5px 10px;
}

.social ul li {
  margin-right: 27px;
  cursor: pointer;
}

.social ul li a:link,
.social ul li a:active,
.social ul li a:visited {
  color: white;
}

.social div li {
  list-style: none;
}

.weatherTemp {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 1%;
  top: -40%
  /* margin-top: 10px;
  margin-right: 10px; */
}

.weatherTemp div {
  margin-top: -17px;
}

.social div li a {
  color: white;
  font-size: 42px;
}

.fa-linkedin:hover {
  color: #007bb5;
}

.fa-github:hover {
  color: rgb(42, 195, 42);
}

.fa-angellist:hover {
  color: black;
}

.fa-file-pdf:hover {
  color: rgb(255, 145, 145);
}

.tooltip-bottom {
  display: none;
  font-size: 13px;
  position: absolute;
  left: -20%;
}

.feedback:hover .tooltip-bottom {
  display: block;
}

.fa-envelope:hover {
  /* color: rgb(166, 166, 166); */
}

/* .fa-envelope:hover .feedback-tooltip {
  visibility: visible;
} */

@media only screen and (min-width: 1025px) {
  
  .intro .ani-figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
    color: white;
  }

  .intro .ani-figure .story {
    min-width: 720px;
    min-height: 720px;
    max-width: 720px;
    max-height: 720px;
  }
  .indicator {
    color: white;
  }

  .cloud-circle {
    width: 740px;
    height: 740px;
    border-radius: 80%;
    filter: url(#filter);
    box-shadow: 500px 500px 60px 0px rgb(255, 255, 255);
    position: absolute;
    top: -450px;
    left: -495px;
    z-index: 6;
  }   

  .cloud-circle span {
    color: black;
  }
}

@media only screen and (min-width: 416px) and (max-width: 1024px) {
  .indicator {
    color: rgb(201, 101, 224);
  }

  .exp-grid-3 {
    row-gap: 34px;
  }

  .intro-2 .ani-figure {
    padding-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .cloud-circle {
    width: 740px;
    height: 740px;
    border-radius: 80%;
    filter: url(#filter);
    box-shadow: 640px 640px 60px 0px rgb(255, 255, 255);
    position: absolute;
    top: -350px;
    left: -520px;
    z-index: 6;
  }  
  .cloud-text {
    color: black;
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 7;
    /* border: 1px solid rgb(191, 191, 191); */
    height: 80%;
    width: 65%;
    line-height: 20px;
    text-transform: uppercase;
  }
  
  .paper-plane-mobile {
    height: 6%;
    position: fixed;
  }
}

@media only screen and (max-width: 415px) {
  .indicator {
    color: red;
  }
  .intro-2 .ani-figure .story {
    min-width: 375;
    min-height: 375;
    max-width: 375;
    max-height: 375;
  }

  .intro-2 .ani-figure {
    padding-top: 25%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .cloud-circle {
    width: 420px;
    height: 490px;
    border-radius: 50%;
    filter: url(#filter);
    box-shadow: 500px 500px 25px -20px rgb(255, 255, 255);
    position: absolute;
    top: -390px;
    left: -520px;
    z-index: 6;
  }

  .cloud-text {
    color: black;
    position: absolute;
    top: 62%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 7;
    /* border: 1px solid rgb(191, 191, 191); */
    height: 80%;
    width: 90%;
    left: 50%;
    line-height: 20px;
    text-transform: uppercase;
  }

  .cloud-text .icon {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 34px;
  }

  .projects-grid-2 {
    row-gap: 20px;
  }

  .exp-grid-3 {
    row-gap: 0px;
  }

  .experience .cloud-text .exp-grid-row{
    height: 50%;
  }

  .experience .cloud-text .icon {
    font-size: 20px;
  }

  .cloud-text h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .cloud-text .icon-description {
    font-size: 13px;
  }

  .cloud-text span {
    font-size: 10px;
  }

  .grid-box .project-title {
    font-size: 16px;
  }

  .grid-box .project-desc {
    font-size: 14px;
  }

  .paper-plane-mobile {
    height: 6%;
    position: fixed;
  }
}

@-webkit-keyframes arrowMove {
  to {
    -webkit-transform: translate3d(0, 0.3rem, 0);
            transform: translate3d(0, 0.3rem, 0);
  }
}

@keyframes arrowMove {
  to {
    -webkit-transform: translate3d(0, 0.3rem, 0);
            transform: translate3d(0, 0.3rem, 0);
  }
}


.drop {
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
  
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}