* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.intro {
  height: 100vh;
  width: 100vw;
}

.intro .ani-figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
    color: white;

}

.intro .ani-figure svg {
    min-width: 720px;
    min-height: 720px;
    max-width: 720px;
    max-height: 720px;
}

.paper-plane {
  height: 8%;
  position: fixed;
  bottom: 1rem;
}

.indicator {
  color: rgb(171, 171, 171);
  z-index: 5;
  font-size: 15px;
  text-align: center;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.indicator span {
  display: block;
}

.indicator span:nth-child(2) {
  -webkit-animation: arrowMove 900ms infinite alternate;
          animation: arrowMove 900ms infinite alternate;
}

@-webkit-keyframes arrowMove {
  to {
    -webkit-transform: translate3d(0, 0.3rem, 0);
            transform: translate3d(0, 0.3rem, 0);
  }
}

@keyframes arrowMove {
  to {
    -webkit-transform: translate3d(0, 0.3rem, 0);
            transform: translate3d(0, 0.3rem, 0);
  }
}