* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro {
    height: 100vh;
}

.intro svg {
    position: relative;
    left: 5%;
    top: 80px;
    height: 50%;
    width: 50%;
    
}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: black;
    z-index: 5;
}

.animation {
    /* height: 85vh; */
    /* width: 100%; */
    /* position: relative; */
    /* overflow: hidden; */
    /* display: flex;
    justify-content: center; */
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    /* background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%); */
}


.paper-plane {
    height: 64px;
    position: absolute;
    top: 75%;
    left: 2%;
    z-index: 2;
}

.first-mountain:hover {
    cursor: pointer;
    fill: chartreuse;
}


/* #s-river path:hover {
    fill: rgb(0, 111, 237);
} */

#m-1 #path1420:hover,
#m-1 #path1418:hover {
    fill: chartreuse;
}